# Compiled source files
*.py[cod]
__pycache__/

# Distribution directories
build/
dist/
*.egg-info/

# Virtual environment directories
.env
.venv
venv/
ENV/
env/

# OS and IDE files
.DS_Store
.idea/
.vscode/

# Local vendor/reference documents
docs/vendor/

# Local Assets
docs/assets/adobe/

# Memo
docs/NyekaMemo.md

# External Generated Test Files
examples/musicXML/